/*

*{
    color: green;
    background: rgba(128, 128, 128, 0.597);
    background: #1c76cfc2;
}
    */



/*Nombre de la clase*/
.nombreclase h4 strong{
    color: gray;
}

.ilink{
    width: 10px;
}

.iHorizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.iHorizontal div{
    margin-right: 10px;
}

.btn-d:hover{
    color: red;
}

/*id
#identificador{
    color: gray;
}
*/

#Id_Acerca{
    border: 5px solid skyblue;
}

/*Bloque
div {
    color: rgb(248, 0, 0);
}
*/
